{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class='my-2'>
        <a href="{{ path('categoryGestion') }}" class="btn btn-primary">New category</a>
    </div>
    <hr>
    <div class="row">
        {% for category in categoryList %}
            <div class='col-4'>
                <div class='card'>
                    <div class="card-header">
                        <h2 class='card-title'>{{ category.name }}</h2>
                    </div>
                    <div class='card-body'>
                        <p>
                            {{category.description}}
                        </p>
                    </div>
                    <div class='card-footer text-right'>
                        <a href="{{ path('categoryGestion',{slug: category.slug}) }}" class="btn btn-primary">Update</a>
                        <a href="{{ path('categoryDelete',{slug: category.slug}) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
