{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="my-2">
        <a href="{{path('productGestion')}}" class="btn btn-primary">New product</a>
    </div>
    <hr>
    <div class="row">
        {% for product in products %}
            <div class="col-4">
                <div class='card'>
                    <div class="card-header">
                        <h2 class="card-title text-center font-weight-bold">{{ product.name }}</h2>
                    </div>
                    <div class="card-body text-center">
                        <img class="img-fluid" src="{{product.image}}" alt="{{product.name}}">
                        <p>Prices : {{ product.price }} $</p>
                        <p>Category: {{product.category.name }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{path('productGestion',{slug: product.slug})}}" class="btn btn-primary">Update</a>
                        <a href="{{path('productDelete',{slug: product.slug})}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
